.box{
    background-color: #21272c;
    height: 100%;
    border-width: 0px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}

.photo{
    border-radius: 90px;
    width: 150px;
    height: 150px;
    border-color: white;
    border-style: solid;
    border-width: 7px;
    margin-top: -100px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -50px;
}

/*Inizio modifica*/
.title_project{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.user{
    color: rgb(97, 224, 72);
}

.project{
    color: rgb(220, 230, 227);
    font-size: 20px;
}

.box_project{
    background-color: #21272c;
    height: 100%;
    border-width: 0px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/*Fine modifica*/

.text_area{
    color: rgb(238, 238, 238);
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    margin-left: 10px;
    width: 40%;
}

.plus{
    transform: scale(0.7);
    margin-bottom: -13px;
    margin-left: 30px;
    transition: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.plus:hover{
    transform: rotate(90deg);
}

.photo_scale{
    transform: translate(-35px, -20px);
}

.back_arrow{
    transform: scale(0.7);
    margin-bottom: -13px;
    margin-left: 30px;
    transition: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.back_arrow:hover{
    transform: translateX(-10px) scale(0.7);;
}

.place{
    width: 50%;
    margin-left: 40%;
}

.delete{
    border-radius: 50px;
    border-width: 0px;
    background-color: rgb(255, 64, 64);
    color: white;
}

.delete:hover{
    background-color: rgb(252, 27, 27);
}

.projects{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: rgb(236, 236, 236);
}

.projects:hover, .projects:focus{
    color: white;
}