.proj{
    font-family: fantasy;
    font-size: 45px;
    font-weight: bold;
    color: rgb(97, 224, 72);
    /*margin-left: 25%;*/
    background-color: #21272c;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 20px;
    border-radius: 10px;
    /*margin-right: 25%;*/
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.vert{
    background-color: #21272c;
    border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    border-color: rgb(100, 99, 99);
    padding: 10px;
}

.testo1{
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(97, 224, 72);
    text-decoration: none;
}

.testo2{
    font-family: serif;
    font-size: 16px;
    color: white;
}