input[type = text], input[type = password]{
    float: right;
    color: grey;
    border:2px solid;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-color: #b9c6c6;
    margin: 10;
    padding: 8px 20px;
    width: 100%;
}

input[type = text]:hover, input[type = password]:hover, input[type = text]:focus, input[type = password]:focus{
    border-color:  #d5dddd
}

input[type = submit]{
    float: right;
    text-align: center;
    color: white;
    margin: 10;
    background-color: rgb(102, 255, 153);
    padding: 8px 20px;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

input[type = submit]:hover, input[type = submit]:focus{
    background-color: rgb(40, 219, 100);
}

.box{
    background-color: #21272c;
    color: cornsilk;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 35%;
    /*border: 1;*/
    border-radius: 5px;
    float: right;
    /*border-color:  #d5dddd;*/
    padding: 30px;
    /*padding-bottom: 70px;*/
    height: 400px;
    width: 25%;
    text-align: center;
    position: fixed;
}