{% extends 'layout.html' %}

{% block head%}
    <title>Info</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_contact.css')}}" type="text/css">
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('info')}}">Info</a></li>
            <li><a class = 'selected' href="{{url_for('contact')}}">Contattaci</a></li>
        </ul>
    </div>

    <div class='title'>Contattaci</div>

    <div class='box_social_media'>
        <a href='#'>
            <img src="{{url_for('static',filename='images/logofb.png')}}">
        </a>

        <a href='#'>
            <img src="{{url_for('static',filename='images/logoinstagram.png')}}">
        </a>

        <a href='#'>
            <img src="{{url_for('static',filename='images/twitterlogo.png')}}">
        </a>
    </div>

{% endblock %}