{% extends 'layout.html' %}

{% block head %}
    <title>{{user}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_profile.css')}}" type="text/css">
    <link rel='stylesheet' href="{{url_for('static',filename='style_textarea.css')}}" type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect("http://127.0.0.1:5000");

            socket.on('connect', function(){
                socket.send(-310);
            });

            socket.on('message', function(msg){
                if(msg == -310){
                    document.getElementById('text').innerHTML = 'Nuovo utente connesso'
                }else{
                    $('#text').val(msg);
                }
            });

            $('#text').on('input', function(){
                socket.send($('#text').val());
            });
        });

        function insertTab(o, e){		
	        var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
	        if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey){
		        var oS = o.scrollTop;
		        if (o.setSelectionRange){
		            var sS = o.selectionStart;	
			        var sE = o.selectionEnd;
			        o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
			        o.setSelectionRange(sS + 1, sS + 1);
			        o.focus();
		        }
		        else if (o.createTextRange){
			        document.selection.createRange().text = "\t";
			        e.returnValue = false;
		        }
		        o.scrollTop = oS;
		        if (e.preventDefault){
			        e.preventDefault();
		        }
		        return false;
	        }
	        return true;
        }
    </script>
{% endblock %}

{% block body %}

    <div>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a class = 'selected' href="{{url_for('protected')}}">Dashboard</a></li>
            <li><a href="{{url_for('Rooms')}}">Rooms</a></li>
            <button class = 'btn logout' onclick="window.location.href='{{url_for('logout')}}'">Logout</button>
        </ul>
    </div>

    <div class = 'box_project'>
        <div class = 'title_project'>
            <div class="user">{{user}}:</div>
            <div class="project">{{document}}</div>
        </div>
        <textarea id='text' spellcheck='false' onkeydown="insertTab(this, event);"></textarea>
        <!--Cose da fare:
            modificare la textarea in css    v
            abilitare i socket.io   v
            abilitare il salvataggio automatico dei progetti
            lavorare sulle rooms    
            lavorare sulla creazione di FLASK REST API per l'app
        -->
    </div>

{% endblock %}