{% extends 'layout.html' %}

{% block head %}
    <title>{{user}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_profile.css')}}" type="text/css">
    <link rel='stylesheet' href="{{url_for('static',filename='style_textarea.css')}}" type='text/css'>
    <link rel="stylesheet" href="{{url_for('static',filename='style_rooms.css')}}" type="text/css">
{% endblock %}

{% block body %}

    <div>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('protected')}}">Dashboard</a></li>
            <li><a class = 'selected' href="{{url_for('Rooms')}}">Rooms</a></li>
            <button class = 'btn logout' onclick="window.location.href='{{url_for('logout')}}'">Logout</button>
        </ul>
    </div>

    <div>
        <div class='proj'>Projects</div>
        <div class='vert'>
            {%for i in dati%}
            <div>
            <a class='testo1' href = {{url_for('link_proj', name = i['document'])}}>{{i['document']}}:</a>
                <p>
            </div>
            <div class='testo2'>
                di {{i['user']}}<p>
                <hr>
            </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}